<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*MtgMcp\.App\.dll$</ModulePath>
        <ModulePath>.*MtgMcp\.Archidekt\.dll$</ModulePath>
        <ModulePath>.*MtgMcp\.Core\.dll$</ModulePath>
        <ModulePath>.*MtgMcp\.Decks\.dll$</ModulePath>
        <ModulePath>.*MtgMcp\.Playgroup\.dll$</ModulePath>
        <ModulePath>.*MtgMcp\.Scryfall\.dll$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*\.Tests\.dll$</ModulePath>
      </Exclude>
    </ModulePaths>
    <Sources>
      <Exclude>
        <Source>.*[\\/]obj[\\/].*</Source>
      </Exclude>
    </Sources>
    <Attributes>
      <Exclude>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <EnableStaticManagedInstrumentation>True</EnableStaticManagedInstrumentation>
    <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>
  </CodeCoverage>
</Configuration>
